#doobleline {
	top: 67px;
}

/****************************** CONTENT ******************************/
section {
	padding-top: 67px;
	padding-bottom: 244px;
}
/**************************** END CONTENT ****************************/
/****************************** HEADER ******************************/
header {
	background: none;
	height: 67px;
}